.wp_mv_metaboxs {
  display: grid;
  grid-template-columns: 200px 640px;
  justify-content: center;
  gap: 12px;
  background-color: #f1f5f9;
  padding: 32px 0;
}

/* Sidebar */

.wp_mv_metaboxs__sidebar {
  margin: 0;
  width: 200px;
}

.wp_mv_metaboxs__sidebar .wp_mv_metaboxs__sidebar__item.active a {
  background-color: #e2e8f080;
  color: #1e293b;
}

.wp_mv_metaboxs__sidebar .wp_mv_metaboxs__sidebar__item a {
  display: flex;
  align-items: center;
  gap: 6px;
  transition: all;
  border-radius: 0.375rem;
  padding: 9px 12px;
  color: #475569;
  font-weight: 500;
  font-size: 0.8125rem;
  text-decoration: none;
}

.wp_mv_metaboxs__sidebar .wp_mv_metaboxs__sidebar__item:hover a {
  background-color: #ffffff;
  color: #1e293b;
}

.wp_mv_metaboxs__sidebar .wp_mv_metaboxs__sidebar__item a .wp-mv-tab-icon {
  color: #94a3b8;
}

/* Content */

.wp_mv_metaboxs__content {
  box-sizing: border-box;
  box-shadow: 0px 1px 3px 0px #ecf0f4;
  border: 1px solid #e5e7eb;
  border-radius: 0.5rem;
  background-color: #ffffff;
}

.wp_mv_metaboxs__content .wp_mv_metaboxs__header {
  border-bottom: 1px solid #e5e7eb;
  padding: 32px;
}

.wp_mv_metaboxs__content .wp_mv_metaboxs__header h2 {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 18px;
}

.wp_mv_metaboxs__content .wp_mv_metaboxs__items {
  padding: 32px;
}

.wp_mv_metaboxs__content .wp_mv_metaboxs__items .group {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.wp_mv_metaboxs__content .wp_mv_metaboxs__items > .group:not(:first-child) {
  margin-top: 32px;
}

.wp_mv_metaboxs__content .wp_mv_metaboxs__items .group label {
  font-weight: 500;
  font-size: 14px;
}

.wp_mv_metaboxs__content .wp_mv_metaboxs__items .group input,
.wp_mv_metaboxs__content .wp_mv_metaboxs__items .group textarea {
  border-radius: 6px;
  padding: 9px 12px;
  font-size: 15px;
  line-height: 24px;
}
